@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Reg.eot");
  src: local("☺"), url("../fonts/Lato-Reg.woff") format("woff"), url("../fonts/Lato-Reg.ttf") format("truetype"), url("../fonts/Lato-Reg.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Lig.eot");
  src: local("☺"), url("../fonts/Lato-Lig.woff") format("woff"), url("../fonts/Lato-Lig.ttf") format("truetype"), url("../fonts/Lato-Lig.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bol.eot");
  src: local("☺"), url("../fonts/Lato-Bol.woff") format("woff"), url("../fonts/Lato-Bol.ttf") format("truetype"), url("../fonts/Lato-Bol.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: SegoeScript;
  src: url("../fonts/SegoeScript.eot");
  src: local("☺"), url("../fonts/SegoeScript.woff") format("woff"), url("../fonts/SegoeScript.ttf") format("truetype"), url("../fonts/SegoeScript.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:vizited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul, li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

* {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

#menu__color {
  background-color: rgba(0, 0, 0, 0.76); }

.container-fluid {
  padding: 0; }

.img__wrapper {
  width: 48px;
  height: 52px;
  position: relative;
  margin: 12px 15px 12px 0; }
  .img__wrapper img {
    position: absolute; }
  .img__wrapper .logo_top {
    top: -3px;
    left: 0;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
  .img__wrapper .logo_right {
    bottom: 7px;
    right: -6px;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
  .img__wrapper .logo_left {
    bottom: 0;
    left: 0; }

.logo__info {
  font-family: SegoeScript;
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
  color: #fb7d7e;
  margin: 0; }
  .logo__info span {
    font-family: Lato;
    font-weight: 700;
    color: #fac81b; }

.welcome {
  min-height: 682px;
  background: transparent url("../img/bg_welcome.png") center/cover no-repeat;
  padding: 56px 0 0; }

.navbar-nav li a {
  font-family: Lato;
  font-size: 15px;
  line-height: 39px;
  font-weight: 400; }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; }

.welcome__info {
  margin: 74px 0 0;
  font-family: Lato;
  max-width: 410px; }
  .welcome__info h1 {
    font-size: 32px;
    line-height: 39px;
    font-weight: 300;
    color: #000000;
    margin: 0 0 37px; }
  .welcome__info p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #3d3d39;
    margin: 0 0 35px; }
  .welcome__info a {
    width: 149px;
    height: 50px;
    border: 1px solid #fac81b;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #3d3d39;
    position: relative;
    left: 5px;
    margin: 0 0 154px; }
    .welcome__info a:active {
      border: 3px solid #fac81b;
      left: 0;
      height: 52px;
      margin: 0 0 152px; }
  .welcome__info a::before {
    content: " ";
    position: absolute;
    width: 5px;
    height: 50px;
    top: -1px;
    left: -5px;
    z-index: 1;
    background-color: #FAC81B; }

.pink_info {
  font-weight: 700;
  color: #f06d6e; }

.carousel-indicators {
  margin: 0;
  width: 60px; }

.carousel-indicators .active {
  opacity: 0.56;
  background-color: #000000; }

.carousel-indicators li {
  width: 14px;
  height: 14px;
  opacity: 0.54;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem; } }
