@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Reg.eot');
	src: local('☺'), url('../fonts/Lato-Reg.woff') format('woff'), url('../fonts/Lato-Reg.ttf') format('truetype'), url('../fonts/Lato-Reg.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Lig.eot');
	src: local('☺'), url('../fonts/Lato-Lig.woff') format('woff'), url('../fonts/Lato-Lig.ttf') format('truetype'), url('../fonts/Lato-Lig.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Bol.eot');
	src: local('☺'), url('../fonts/Lato-Bol.woff') format('woff'), url('../fonts/Lato-Bol.ttf') format('truetype'), url('../fonts/Lato-Bol.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: SegoeScript;
	src: url('../fonts/SegoeScript.eot');
	src: local('☺'), url('../fonts/SegoeScript.woff') format('woff'), url('../fonts/SegoeScript.ttf') format('truetype'), url('../fonts/SegoeScript.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}