

@media (max-width: 1200px) {
	.card__bg {
		width: auto;
	}
}

@media (max-width: 990px) {
	.name__wrapper {
	padding: 0 0 10px 0;
	}
	.email__wrapper {
	padding: 0 0 10px 0;
	}
}

@media (max-width: 768px) {
	.footer {
		padding: 45px 10px;
 		.footer__nav, .footer__line {
 			display: none;
 		}
 		.footer__info {
 			margin: 0 auto;
 		}
 	}
}


@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
 	}
 }