@import "fonts.scss";
@import "nullstyles.scss";




* {
	transition: 0.2s;
}

#menu__color {
	background-color: rgba(0, 0, 0, 0.76);
}

.container-fluid {
	padding: 0;
}

.img__wrapper {
	width: 48px;
	height: 52px;
	position: relative;
	margin: 12px 15px 12px 0;
		img {
			position: absolute;
		}
		.logo_top {
			top: -3px;
			left: 0;
			transform: rotate(120deg);
		}
		.logo_right {
			bottom: 7px;
			right: -6px;
			transform: rotate(240deg);
		}
		.logo_left {
			bottom: 0;
			left: 0;
		}
}

.logo__info {
	font-family: SegoeScript;
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;
	color: #fb7d7e;
	margin: 0;
	span {
		font-family: Lato;
		font-weight: 700;
		color: #fac81b;
	}
}

.welcome {
	min-height: 682px;
	background: transparent url('../img/bg_welcome.png') center/cover no-repeat;
	padding: 56px 0 0;
}

.navbar-nav li {
	a {
		font-family: Lato;
		font-size: 15px;
		line-height: 39px;
		font-weight: 400;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
}

.welcome__info {
	margin: 74px 0 0;
	font-family: Lato;
	max-width: 410px;
	h1 {
		font-size: 32px;
		line-height: 39px;
		font-weight: 300;
		color: #000000;
		margin: 0 0 37px;
	}
	p {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		color: #3d3d39;
		margin: 0 0 35px;
	}
	a {
		width: 149px;
		height: 50px;
		border: 1px solid #fac81b;
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		color: #3d3d39;
		position: relative;
		left: 5px;
		margin: 0 0 154px;
		&:active {
			border: 3px solid #fac81b;
			left: 0;
			height: 52px;
			margin: 0 0 152px;
		}
	}
	a::before {
		content: " ";
		position: absolute;
		width: 5px;
		height: 50px;
		top: -1px;
		left: -5px;
		z-index: 1;
		background-color: #FAC81B;
	}
}

.pink_info {
	font-weight: 700;
	color: #f06d6e;
}

.carousel-indicators {
	margin: 0;
	width: 60px;
}

.carousel-indicators .active {
	opacity: 0.56;
	background-color: #000000;
}

.carousel-indicators li {
	width: 14px;
   height: 14px;
   opacity: 0.54;
   border: 2px solid #000000;
   border-radius: 50%;
   margin-right: 3px;
   margin-left: 3px;
   text-indent: -999px;
}





@import "media.scss";