@import "fonts.scss";
@import "nullstyles.scss";





#menu__color {
	background-color: rgba(0, 0, 0, 0.76);
}

.container-fluid {
	padding: 0;
}

.img__wrapper {
	width: 48px;
	height: 52px;
	position: relative;
	margin: 12px 15px 12px 0;
		img {
			position: absolute;
		}
		.logo_top {
			top: -3px;
			left: 0;
			transform: rotate(120deg);
		}
		.logo_right {
			bottom: 7px;
			right: -6px;
			transform: rotate(240deg);
		}
		.logo_left {
			bottom: 0;
			left: 0;
		}
}

.logo__info {
	font-family: SegoeScript;
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;
	color: #fb7d7e;
	margin: 0;
	span {
		font-family: Lato;
		font-weight: 700;
		color: #fac81b;
	}
}

.welcome {
	min-height: 682px;
	background: transparent url('../img/bg_welcome.png') center/cover no-repeat;
	padding: 56px 0 0;
}

.navbar-nav li {
	padding: 0 25px 0 0;
	a {
		font-family: Lato;
		font-size: 15px;
		line-height: 39px;
		font-weight: 400;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
}