@import "fonts.scss";
@import "nullstyles.scss";




* {
	transition: 0.2s;
}

#menu__color {
	background-color: rgba(0, 0, 0, 0.76);
}

.container-fluid {
	padding: 0;
}

.img__wrapper {
	width: 48px;
	height: 52px;
	position: relative;
	margin: 12px 15px 12px 0;
		img {
			position: absolute;
		}
		.logo_top {
			top: -3px;
			left: 0;
			transform: rotate(120deg);
		}
		.logo_right {
			bottom: 7px;
			right: -6px;
			transform: rotate(240deg);
		}
		.logo_left {
			bottom: 0;
			left: 0;
		}
}

.logo__info {
	font-family: SegoeScript;
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;
	color: #fb7d7e;
	margin: 0;
	span {
		font-family: Lato;
		font-weight: 700;
		color: #fac81b;
	}
}

.welcome {
	min-height: 682px;
	background: transparent url('../img/bg_welcome.png') center/cover no-repeat;
	padding: 56px 0 0;
}

.navbar-nav li {
	a {
		font-family: Lato;
		font-size: 15px;
		line-height: 39px;
		font-weight: 400;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
}

.welcome__info {
	margin: 74px 0 0;
	font-family: Lato;
	max-width: 410px;
	h1 {
		font-size: 32px;
		line-height: 39px;
		font-weight: 300;
		color: #000000;
		margin: 0 0 37px;
	}
	p {
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		color: #3d3d39;
		margin: 0 0 35px;
	}
	a {
		width: 149px;
		height: 50px;
		border: 1px solid #fac81b;
		font-size: 14px;
		line-height: 28px;
		font-weight: 400;
		color: #3d3d39;
		position: relative;
		left: 5px;
		margin: 0 0 154px;
		&:active {
			border: 3px solid #fac81b;
			left: 0;
			height: 52px;
			margin: 0 0 152px;
		}
	}
	a::before {
		content: " ";
		position: absolute;
		width: 5px;
		height: 50px;
		top: -1px;
		left: -5px;
		z-index: 1;
		background-color: #FAC81B;
	}
}

.pink_info {
	font-weight: 700;
	color: #f06d6e;
}

.carousel-indicators {
	margin: 0;
	width: 60px;
}

.carousel-indicators .active {
	opacity: 0.56;
	background-color: #000000;
}

.carousel-indicators li {
	width: 14px;
   height: 14px;
   opacity: 0.54;
   border: 2px solid #000000;
   border-radius: 50%;
   margin-right: 3px;
   margin-left: 3px;
   text-indent: -999px;
}

.checkout {
	min-height: 660px;
	background-color: #e66768;
	padding: 0 10px 30px;
}

.margB {
	margin: 0 0 20px;
}

.card__bg {
	background-color: #e66768;
	border: none;
	width: 244px;
	margin: 81px 0 0;
}

.card__item {
	width: 167px;
	height: 167px;
	background-color: #dd5e5f;
	border-radius: 50%;
	margin: 0 auto 17.5px;
	&:hover {
		border: 2px solid #fac81b;
	}
	.icon__style {
		font-family: FontAwesome;
		font-size: 80px;
		line-height: 39px;
		font-weight: 400;
		color: #ffffff;
		&:hover {
			color: #fac81b;
		}
	}
}

.card-body {
	.card-title {
		font-family: Lato;
		font-size: 22px;
		line-height: 39px;
		font-weight: 400;
		color: #ffffff;
		margin: 0 0 31px;
		&:hover {
		color: #fac81b;
		}
	}
	.card-text {
		font-family: Lato;
		font-size: 14px;
		line-height: 25px;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 0 0 40px;
	}
}

.typical__button {
	width: 149px;
	height: 40px;
	border: 1px solid #fac81b;
	font-family: Lato;
	font-size: 14px;
	line-height: 28px;
	font-weight: 400;
	color: #ffffff;
	border-left: 7px solid #fac81b;
	border-radius: 0;
	&:hover {
		color: #fac81b;
		}
}

.line__top {
	width: 88px;
	height: 8px;
	background-color: #ecba0b;
	margin: 0 auto 72px;
}

.checkout__title {
	font-family: Lato;
	font-size: 35px;
	line-height: 39px;
	font-weight: 400;
	color: #ecba0b;
	margin: 0 auto;
	max-width: 310px;
	.f_w {
		font-weight: 700;
	}
}

.our__works {
	padding: 0 0 82px;
	min-height: 773px;
	background-color: rgba(244, 237, 233, 0.8);
}

.titleWorks {
	font-family: Lato;
	font-size: 35px;
	line-height: 39px;
	font-weight: 400;
	color: #ecba0b;
	margin: 0 auto 84px;
	width: 274px;
}

.works__wrapper {
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.mask {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(230, 103, 104, 0.7);
		&:hover {
			opacity: 1;
		}
		p {
			font-family: Lato;
			font-size: 22px;
			line-height: 25px;
			font-weight: 400;
			color: #ffffff;
		}
		.fsize14 {
			font-size: 14px;
		}
	}
}

.blog__posts {
	padding: 0 0 87px;
}

.blog__title {
	font-family: Lato;
	font-size: 35px;
	line-height: 39px;
	font-weight: 400;
	color: #ecba0b;
	margin: 0 auto 72px;
	max-width: 276px;
}

.blogers {
	top: -41.5px;
}

.card-body {
	padding: 68px 0 0;
	.blog__info {
		.data__style {
			font-size: 14px;
			line-height: 39px;
			font-weight: 400;
			color: #e66768;
		}
		font-family: Lato;
		font-size: 22px;
		line-height: 25px;
		color: #646464;
		margin: 0;
	}
}

#map {
	min-height:704px;
	background: url(/img/map.png) center/cover no-repeat;
}

.contacts {
	min-height: 525px;
	max-width: 562px;
	margin: 0 auto;
	background-color: #e66768;
	padding: 0 50px 33px;
	.contacts__titel {
		width: 251px;
		font-family: Lato;
		font-size: 35px;
		line-height: 39px;
		font-weight: 400;
		color: #ecba0b;
		margin: 0 auto 31px;
	}
	.contacts__info {
		width: 235px;
		font-family: Lato;
		font-size: 13px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin: 0 auto 42px;
		.namber__size {
			font-size: 17px;
		}
	}
	.contacts__inputs {
		margin: 0 0 8px;
	}
}

.name__input {
	height: 45px;
	border: 1px solid rgba(100%, 100%, 100%, 0.6);
	background-color: #e66768;
	&::placeholder {
		font-family: Lato;
		font-size: 13px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
	}
}

.email__input {
	height: 45px;
	border: 1px solid rgba(100%, 100%, 100%, 0.6);
	background-color: #e66768;
	&::placeholder {
		font-family: Lato;
		font-size: 13px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
	}
}

.info__input {
	width: 100%;
	height: 125px;
	border: 1px solid rgba(100%, 100%, 100%, 0.6);
	background-color: #e66768;
	margin: 0 0 29px;
	&::placeholder {
		font-family: Lato;
		font-size: 13px;
		line-height: 30px;
		font-weight: 400;
		color: #ffffff;
	}
}

.name__wrapper {
	padding: 0 8.5px 10px 0;
}

.email__wrapper {
	padding: 0 0 10px 8.5px;
}

.contacts__button {
	background-color: #e66768;
	width: 71px;
	.arrow__pos {
		bottom: 1px;
		right: -8px;
	}
	img:hover {
		cursor: pointer;
		color: #e66768;
	}
}

.footer {
	background-color: rgba(0, 0, 0, 0.76);
	min-height: 102px;
	.footer__nav {
		max-width: 429px;
		max-height: 49px;
		margin: 0 auto;
	}
	.footer__line {
		height: 1px;
		opacity: 0.1;
		background-color: #c9c9c9;
		margin: 0 0 18px;
	}
	.footer__info {
		font-family: Lato;
		font-size: 13px;
		line-height: 15px;
		font-weight: 400;
		color: #919191;
		max-width: 240px;
		height: 12px;
		margin: 0 auto 20px;
	}
}

.navbar-dark .navbar-nav .other__color {
	color: #b1b1b1;
}



@import "media.scss";